extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")

block dataContent
    //- Table content part
    table.data_table
        -let ObjProperties = Object.keys(dataset[0])
        -let firstPropName = ObjProperties[0]
        -let secondPropName = ObjProperties[1]
        -let lastPropName = ObjProperties[ObjProperties.length -1]
        tr
            th #{firstPropName}
            th #{secondPropName} 
            th #{lastPropName}
        
        each datum in dataset
            tr
                td #{datum[firstPropName]}
                td 
                    a(href=`/cities/city/${datum[firstPropName]}`) #{datum[secondPropName]}
                td #{datum[lastPropName]}
    


    
  
    