extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    link(rel="stylesheet", href="/data_content_header.css")

block dataContent
    //- content description part
    h2 #{continent.Continent} 
    .cityDesc
        p 
            span Number of Countries: 
            | #{continent.countries}
        p 
            span Total Population: 
            | #{continent.Population}

    //- Table content part
    table.data_table            
        tr
            th Country 
            th Number Of Cities 
            th Total Population 
    
        each country in continentCountries
            tr
                
                if continent.Continent != 'Antarctica'
                    td
                        a(href=`/continents/${continent.Continent}/${country.Name}`) #{country.Name}
                else
                    td #{country.Name}
                td #{country.Number_of_cities}
                td #{country.Population}