extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    link(rel="stylesheet", href="/data_content_header.css")

block dataContent
    //- content description part
    h2 #{continent.name} 
    .cityDesc
        p 
            span Number of Countries: 
            | #{continent.numberOfCountries}
        p 
            span Total Population: 
            | #{continent.population}

    //- Table content part
    table.data_table            
        tr
            th Country 
            th Number Of Cities 
            th Total Population 
    
        each datum in dataset
            tr
                
                if datum.population != 0
                    td
                        a(href=`/continents/${continent.name}/${datum.name}`) #{datum.name}
                else
                    td #{datum.name}
                td #{datum.numberOfCities}
                td #{datum.population}