extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    link(rel="stylesheet", href="/data_content_header.css")  
    style.
        .cityDesc span + a{
           display: inline-block;
           margin: 0;
           padding: 0;
           text-align:right;
        }

block dataContent
    //- content description part
    h2 #{country.name} (#{country.code})
    .cityDesc
        p 
            span Code: 
            | #{country.code}
        p 
            span Continent: 
            | #{country.continent}
        p 
            span Region: 
            | #{country.region}
        p 
            span Capital: 
            a(href=`/cities/city/${country.capitalCity.capitalId}`) #{country.capitalCity.capitalName}
        p 
            span Number of Cities: 
            | #{country.numberOfCities}
        p 
            span Total Population: 
            | #{country.population} 

    //- Table content part
    table.data_table                
        tr
            th ID
            th City
            th Population 
    
        each cityData in countryCities
            tr
                td #{cityData.id}
                td 
                    a(href=`/cities/city/${cityData.id}`) #{cityData.name}
                td #{cityData.population}

