extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")

block dataContent
    //- Table content part
    table.data_table      
        tr
            th Region
            th Population
            th In Cities
            th %
            th Out Cities
            th %



        each datum in dataset
            - var inCity = datum.RegionCityPop / datum.RegionPop * 100
            - var out = datum.RegionPop - datum.RegionCityPop
            - var outPercent = out / datum.RegionPop * 100

            if(datum.RegionPop != 0 && datum.RegionPop != null && datum.RegionPop != false)  
                tr
                    td #{datum.Region}
                    td #{datum.RegionPop}
                    td #{datum.RegionCityPop}
                    td #{inCity.toFixed(2)}
                
                    td #{out}
                    td #{outPercent.toFixed(2)}
    


    
  
    