extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    link(rel="stylesheet", href="/data_content_header.css")   

block dataContent
    //- Table content part

    h2 #{regionName}    


    table.data_table                
        tr
            th Code
            th Country
            th Population 
    
        each country in countries
            tr
                td #{country.code}
                td 
                    a(href=`/continents/${country.continent}/${country.name}`) #{country.name}
                td #{country.population}

